/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */

 /*colours*/
 $ej-off-black: #111111;
 $ej-off-white: #999;
 $ej-blue:		#67a0ab;
 $ej-blue-faded: rgba(103,160,171,0.5);